################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/hw1/Debug/hw1.pdb
/hw1/Debug/hw1.ilk
/hw1/Debug/hw1.exe
/hw1/.vs/hw1/v14/.suo
/hw1/hw1/Debug/hw1.tlog
/hw1/hw1/Debug
/hw1/hw1.VC.VC.opendb
/hw1/hw1.VC.db
/hw1/hw1.sln
/hw1/hw1
